:root {
  --button-background-color: rgb(0, 170, 255);
  --search-bar-background-color: rgb(232, 232, 232);
  --button-text-color: white;
  --search-bar-text-color: black;
}

span {
  color: red;
  transition: 0.05s linear;
  cursor: pointer;
}

span:hover {
  color: var(--button-background-color);
}

span:active {
  color: transparent;
}

.bot-header-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-weight: 400;
  padding: 10px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.05s linear;
}

.bot-header-button:hover {
  opacity: 0.7;
}

.bot-header-button:active {
  opacity: 0.5;
}

.bot-header-button:focus {
  opacity: 0.7;
}

#header {
  height: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.419);
  width: 80vw;
  overflow: hidden;
  background-color: var(--search-bar-background-color);
  color: var(--search-bar-text-color);
}

#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#search-bar {
  display: flex;
  width: 40%;
  height: 100px;
  padding-left: 25px;
  gap: 25px;
  align-items: center;
}

#search-icon {
  color: black;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.05s linear;
}

#search-icon:hover {
  color: var(--button-background-color);
}

#search-input {
  border: 0px solid black;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-input:focus {
  outline-color: var(--button-background-color);
}

#top-header-end {
  display: flex;
  gap: 40px;
  margin-right: 20px;
  height: 100%;
  align-items: center;
}

#bell-icon {
  height: 30px;
  width: 30px;
  transition: 0.15s linear;
  cursor: pointer;
}

#bell-icon:hover,
#name-text:hover {
  color: red;
  transform: scale(1.1);
}

#bell-icon:active,
#name-text:active,
#search-icon:active {
  transform: scale(0.8);
}

#profile-picture-md {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

#name-text {
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.15s linear;
}

#bot-header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

#profile-picture-lg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#profile-info-top-text {
  font-weight: 400;
}

#profile-info-main-text {
  font-weight: 600;
}

#profile-info-container,
#bot-header-buttons {
  display: flex;
  gap: 20px;
}

#bot-header-buttons {
  height: 100%;
  width: auto;
  align-items: center;
  margin-right: 50px;
}

@media only screen and (max-width: 1350px) {
  .bot-header-button {
    font-size: 18px;
    padding: 5px;
    width: 60px;
  }

  #header {
    width: 90vw;
  }

  #top-header {
    width: 100%;
  }

  #search-bar {
    width: 50%;
  }

  #search-input {
    width: 70%;
  }

  #top-header-end {
    gap: 20px;
  }

  #profile-picture-md {
    height: 40px;
    width: 40px;
  }

  #name-text {
    font-size: 18px;
  }

  #bell-icon {
    height: 25px;
    width: 25px;
  }

  #bot-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  #profile-picture-lg {
    width: 50px;
    height: 50px;
  }

  #bot-header-buttons {
    gap: 10px;
    margin-right: 30px;
  }
}
